<h1>List of all movies</h1>

<hr>

<table border=1>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>
  <% Movie.all.each do |movie|%>
    <tr>
      <td><%= movie.id %></td>
      <td style="max-width: 250px;"><img style="width: 100%; height: 100%;" src="<%= movie.image %>" alt=""></td>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= Director.all.where({:id => movie.director_id}).at(0).name %></td>
      <td><a href="/movies/<%= movie.id %>">Show details</a></td>
    </tr>
  <% end %>
</table>
