<h1>Actor #<%= @actor.id %> details</h1>
<a href="/actors">Go back</a>

<hr>

<dl>
  <dt>Name</dt>
  <dd><%= @actor.name %></dd>

  <dt>Dob</dt>
  <dd><%= @actor.dob %></dd>

  <dt>Bio</dt>
  <dd><%= @actor.bio %></dd>

  <dt>Image</dt>
  <dd><img width="30%" height="50%" src="<%= @actor.image %>" alt="actor_image"></dd>

  <dt>Created at</dt>
  <dd><%= @actor.created_at %></dd>

  <dt>Updated at</dt>
  <dd><%= @actor.updated_at %></dd>
</dl>

<hr>

<h3>Filmography</h3>
<table border=1>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Character name</th>
    <th></th>
  </tr>

  <% @characters.each do |character| %>
    <tr>
      <% movie = Movie.all.where({:id => character.movie_id}).at(0) %>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= Director.all.where({:id => movie.director_id}).at(0).name %></td>
      <td><%= character.name %></td>
      <td><a href="/movies/<%= movie.id %>">Show details</a></td>
    </tr>
  <% end %>
</table>
